################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdviserDashboardService/AdviserDashboardService/bin/Debug/netcoreapp3.1
